@import 'variables';
@import 'reset';
@import 'base';
@import 'components';
@import 'mixins';


// src/scss/main.scss

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
  h1 {
    color: $primary-color;
  }
  
  p {
    color: $myred;
    line-height: 1.6;
    
    a {
      color: $secondary-color;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}